
<h1>Editar producto</h1>

<div class="row justify-content-center">
    <div class="col col-sm-12 col-md-10">
        <form action="/admin/productos/update?_method=PUT" method="post">
            <div>
                <label for="codigo" class="form-label">Codigo: </label>
                <input type="text" class="form-control" id="codigo" name="codigo" value="<%= producto.codigo %>" readonly>
            </div>
            <div>
                <label for="nombre" class="form-label">Nombre: </label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="<%= producto.nombre %>">
            </div>
            <div>
                <label for="descripcion" class="form-label">Descripcion: </label>
                <textarea class="form-control" name="descripcion" id="descripcion" cols="30" rows="10"><%= producto.descripcion %></textarea>
            </div>
            <div>
                <label for="categoria" class="form-label">Categoria: </label>
                <select class="form-control" name="categoria" id="categoria">
                    <option value=""></option>
                    <option value="1" <%= producto.categoria_id == 1 ? 'selected' : '' %>>Categoria 1</option>
                    <option value="2" <%= producto.categoria_id == 2 ? 'selected' : '' %>>Categoria 2</option>
                    <option value="3" <%= producto.categoria_id == 3 ? 'selected' : '' %>>Categoria 3</option>
                </select>
            </div>
            <div>
              <label for="precio" class="form-label">Precio: </label>
              <input type="number" class="form-control" id="precio" name="precio" value="<%= producto.precio %>">
          </div>
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
    </div>
</div>
