<h1>Editar producto</h1>
<div class="row justify-content-center">
  <div class="col-6">
    <form action="/productos/update?_method=PUT" method="post">
      <div>
        <label for="codigo" class="form-label">Codigo:</label>
        <input type="text" id="codigo" name="codigo" value="<%= producto.codigo %>"class="form-control" readonly>
      </div>
      <div>
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="<%= producto.nombre %>" class="form-control">
      </div>
      <div>
        <label for="descripcion">Descripcion:</label>
        <textarea name="descripcion" id="descripcion" cols="30" rows="10" value="<%= producto.descripcion %>"></textarea>
      </div>
      <div>
        <label for="categoria" class="form-label">Categoria:</label>
       <select name="" id="">
        <option value="1"  <%= producto.categoria_id == 1 ? 'selected' : '' %> >1</option>
        <option value="2"  <%= producto.categoria_id == 2 ? 'selected' : '' %> >2</option>
        <option value="3"  <%= producto.categoria_id == 3 ? 'selected' : '' %> >3</option>
       </select>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>