<h2>Listado de productos</h2>

<div class="row">
    <% productos.forEach(producto => { %>
      <div class="col-12 col-md-6  col-lg-4 col-xl-3 mb-3">
        <div class="card" style="width: 18rem;">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h2 class="card-title"> <%= producto.nombre %> </h2>
            <p class="card-text"> <%= producto.descripcion %> </p>
            <p class="btn btn-outline-primary"> $ <%= producto.precio %> </p>
            <p>
              <a href="/productos/<%= producto.codigo %>" class="btn btn-primary">Ver más</a>
            <a href="/productos/<%= producto.codigo %>/editar" class="btn btn-warning">Editar</a>
            </p>
          </div>
      </div>
    <% }) %>
</div>
<a href="/productos/create" class="btn btn-success"> Crear producto</a>